/quotes/node_modules/**/*
/quotes/.expo/*
/quotes/npm-debug.*
/quotes/target
/classes
/checkouts
/quotes/pom.xml
/quotes/pom.xml.asc
/quotes/*.jar
/quotes/*.class
/quotes/.lein-*
/quotes/.nrepl-port
/quotes/.hgignore
/quotes/.hg/
/quotes/figwheel_server.log
/quotes/main.js
/quotes/.js-modules.edn
/quotes/env/dev/env/expo/dev.cljs
/quotes/env/dev/env/expo/index.cljs
